{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link href="{{ asset('Css/style.css') }}" type="text/css" rel="stylesheet" />
    <link rel="stylesheet" href="{{ asset('Plugins/fontello/css/fontello.css') }}" />
{% endblock %}

{% block body %}
    <div id="wrapper">
        <div class="topBar"></div>
        <div id="container">
            {% block header %}
                <div id="header">
                    <div id="nav">
                        <ul>
                            <li><a class="webTitle" href="{{ path('index') }}">Task Manager </a></li>
                            {% if is_granted('ROLE_ADMIN') %}
                                <li><a href="{{ path('myProfile') }}">Profile</a></li>
                                <li><a href="{{ path('myTasks') }}">Tasks</a></li>
                                <li><a href="{{ path('myComments') }}">Comments</a></li>
                                <li style="float:right;"><a href="{{ path('logout') }}">Log uit</a></li>
                            {% else %}
                                <li><a href="{{ path('fos_user_security_login') }}">Login</a></li>
                                <li><a>/</a></li>
                                <li><a href="{{ path('fos_user_registration_register') }}">Registreer</a></li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            {% endblock %}
            <div id="content">
            {% block content %}
                <div class="overviewData">
                    <span class="overviewCount">
                        Er
                        {% if taskCount < 2 %}
                        is maar <span>{{ taskCount }}</span> taak
                        {% else %}
                        zijn <span>{{ taskCount }}</span> taken
                        {% endif %}
                        af te ronden.
                    </span>
                    <span class="overviewCount">
                        Er
                        {% if commentCount == 0 %}
                        is geen reactie
                        {% elseif commentCount < 2 %}
                        is maar <span>{{ commentCount }}</span> reactie
                        {% else %}
                        zijn <span>{{ commentCount }}</span> reacties
                        {% endif %}
                        geplaatst.
                    </span>
                </div>
                <div id="tasksIndexOverview">
                    {% for task in tasks %}
                        <div class="taskIndex">
                            <a href="" style="  "><span class="icon-cancel"></span></a>
                            <div class="titleTask">{{ task.title }}</div>
                            <div class="description">
                                {{ task.description|truncate(40, true) }}
                            </div>
                            <div class="taskUsers">
                                <p>
                                    Taak gebruikers:
                                {% for user in task.users %}
                                        <ul>
                                            <li>{{ user.username }}</li>
                                        </ul>
                                {% endfor %}
                                </p>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}